.dashboard-container {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.dashboard-content {
    background-color: #3a3f4b;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dashboard-content h2 {
    margin-bottom: 20px;
    color: #61dafb;
}

.dashboard-content button {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 18px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.dashboard-content button:hover {
    background-color: #0056b3;
}

.register-form .error-message {
    color: #ff6b6b;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}