/* Carrito (Componente entero) */
.products-carrito {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    overflow: hidden; /* Asegura que los elementos no sobresalgan */
}

/* Titulo texto centrado */
.products-carrito h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Lista de productos en fila, ajustándose en columnas cuando sea necesario */
.items-carrito {
    display: flex;
    flex-wrap: wrap; /* Permite que los productos se muevan a la siguiente línea si no hay espacio */
    justify-content: center; /* Alinea los productos al centro */
    gap: 15px; /* Espacio entre los productos */
    width: 100%;
}

/* ProductItem alineado con Boton eliminar debajo */
.item {
    display: flex;
    flex-direction: column; /* Para poner el botón debajo del producto */
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: auto; /* Ajusta el ancho al contenido */
    max-width: 300px; /* Limita el tamaño máximo si es necesario */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    flex-shrink: 0; /* Impide que el contenedor se encoja si el contenido es grande */
    min-height: 250px; /* Asegura un mínimo de altura para evitar que el contenedor se haga muy pequeño */
}

/* Estilo para el botón de eliminar y tamaño fijo */
.remove-button-container {
    margin-top: 10px; /* Da espacio entre el producto y el botón */
}

.remove-button-container button {
    display: block;
    padding: 5px 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 90px;
}

.remove-button-container button:hover {
    background-color: #c9302c;
}

/* Importe centrado */
h3 {
    text-align: center;
}

.pay-button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.products-carrito .pay-button:hover {
    background-color: #0056b3;
}

.empty-button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.products-carrito .empty-button:hover {
    background-color: #c9302c;
}

.opciones-carrito {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
