
.products-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.products-list .product-item {
    align-items: center;
    color: black;
}

.product-item span{
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.product-item .imagen {
    max-width: 150px;
    max-height: 150px;
    height: auto;
    object-fit: contain;
}

.modify-product-container button {
    margin-top: 40px;
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modify-product-container button:hover {
    background-color: #0056b3;
}





.modify-form {
    background-color: #3a3f4b;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modify-form h2, h3 {
    margin-bottom: 20px;
    color: #61dafb;
}

.modify-form label {
    color: #ffffff;
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
}

.modify-form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #454b59;
    color: #ffffff;
}

.modify-form input, button {
    box-sizing: border-box;
}

.modify-form input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #61dafb;
}

.modify-form button {
    margin-top: 40px;
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modify-form button:hover {
    background-color: #0056b3;
}

.modify-form .error-message {
    color: #ff6b6b;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.modify-form .success-message {
    color: #4caf50;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
