.product-management-page {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.product-management-page h1 {
    margin-bottom: 20px;
    color: #61dafb;
}

.product-management-content {
    background-color: #3a3f4b;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-management-content h2 {
    margin-bottom: 20px;
    color: #61dafb;
}

.product-management-content button {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 18px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.product-management-content button:hover {
    background-color: #0056b3;
}

.back {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    width: auto;
    border-radius: 5px;
    cursor: pointer;

  }
  
  .back:hover {
    background-color: #0056b3;
  }
