/* Estilo para el contenedor del producto */
.product-item {
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin: 5px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* Nombre producto */
.product-item h3 {
    margin: 0;
    color: #333;
}

/* Alinear en linea, espacio entre elementos*/
.line {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

/* Quadrado de producto: No ocupa todo lo que puede*/
.product-info {
    flex-grow: 0;
    margin-right: 15px;
}

/* Imagen: Mantener proporcion y tamaño maximo */
.imagen {
    max-width: 150px;
    max-height: 150px;
    height: auto;
    object-fit: contain;
}

/* Botones: Azules con texto blanco */
button {
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Oscurecer el boton al pasar por encima*/
button:hover {
    background-color: #0056b3;
}

/* Estilo para boton - deshabilitado*/
button[disabled] {
    background-color: #ccc;
}

/*Color numeros*/
.text {
    margin: 0 10px;
    font-size: 18px;
    color: #333;
}

/*Columna - Numero + con Añadir*/
.button-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Alinear - Numero +*/
.quantity-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}