.content-container {
    background-color: #1e1e1e;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative;
  }
  

.notification {
    background-color: #28a745;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
  }
  
  
  /* Boton arriba a la derecha */
  .button-top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    width: auto;
    border-radius: 5px;
    cursor: pointer;

  }
  
  .button-top-right:hover {
    background-color: #0056b3;
  }

  .button-configure-network {
    position: absolute;
    top: 20px;
    left: 120px; /* Ajustar... */
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    width: auto;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-configure-network:hover {
    background-color: #218838;
  }
  
  .button-request-tokens {
    position: absolute;
    top: 20px;
    left: 350px; /* Ajustar según el ancho del botón "Configurar UPCcoin" */
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    width: auto;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-request-tokens:hover {
    background-color: #218838;
  }