/*Formulario*/
.login-form {
    align-content: center;
    background-color: #3a3f4b;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Iniciar sesion*/
.login-form h2 {
    margin-bottom: 20px;
    color: #61dafb;
}

.login-form label {
    color: #ffffff;
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #454b59;
    color: #ffffff;
}
/* Colorear al seleccionar */
.login-form input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #61dafb;
}

.login-form button {
    display: block;
    margin-top: 40px;
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form .error-message {
    color: #ff6b6b;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
