
.product-delete-form {
    width: 100%;
}

.product-list {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.product-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    max-width: 500px;
}

.product-info {
    flex-grow: 1;
    color: black;
    white-space: nowrap;
}

.product-delete-form button {
    margin-left: 10px;
    
    cursor: pointer;
    display: block;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 90px;
}

.product-delete-form .delete-container {
    margin-right: 20px;
    display: flex; /* Usar Flexbox para alinear horizontalmente */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alinea verticalmente al centro */
    height: 100%;

    max-width: 100%; /* Cambia este valor según tus necesidades */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */
}

.product-delete-form button:hover {
    background-color: #c9302c;
}

.product-delete-form .successMessage {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    color: green;
    border-radius: 5px;
}
